.item-detail {
    @include flex(row, space-between, center);
    &__picture {
        $self: &;
        @include flex(row, space-around, center);
        position: relative;

        &--img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: contain;
            animation: fade 0.7s;
        }

        &--img--2 {
            display: none;
        }

        &:hover .item-detail__picture--img--1 {
            display: none;
        }

        &:hover .item-detail__picture--img--2 {
            animation: fade 0.7s;
            display: block;
        }
    }

    &__info {
        font-family: $monserrat;
        padding: 2rem;
        @include flex(column, center, flex-start);
        gap: 1rem;

        &--category {
            color: $crimson;
            font-size: $xsmall;
            font-weight: bold;
        }

        &--title {
            font-size: $jumbo;
            font-weight: bold;
        }

        &--description {
            font-size: $small;
        }

        &--price {
            font-size: $small;
            font-weight: bold;
        }
    }
}