.pill {
    position: absolute;
    background-color: inherit;
    color: $white;
    padding: 5px 6px 2px 6px;
    border-radius: 20px;
    font-size: 12px;
    line-height: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap; 
}