.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

    h1 {
        font-size: 6rem;
        margin: 0;
        color: $black;
    }

    p {
        font-size: 1.5rem;
        margin: 20px 0;
    }

    .back-home {
        padding: 10px 20px;
        background-color: $black;
        color: $white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1.2rem;

        &:hover {
            background-color: #444444;
        }
    }
}
