.cartContainer {
    padding: 50px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

    &__cartItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin: 20px 0;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    
        &--button--remove {
            background-color: crimson;
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 4px;
            margin-left: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: darkred;
            }
        }

        &--button--clear {
            background-color: crimson;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-family: $monserrat;
            font-size: $small;

            &:hover {
                background-color: darkred;
            }
        }

        > div {
            display: flex;
            align-items: center;
        }

        img {
            width: 80px;
            height: 80px;
            border-radius: 8px;
            object-fit: cover;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            margin-right: 10px;
        }

        strong {
            font-size: $small;
        }

        &--icon {
            font-size: 20px;
        }
    }

    &__total {
        font-size: $medium;
        font-weight: bold;
        margin-top: 20px;
        text-align: right;
    }

    &__button--finish {
        background-color: black;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 4px;
        margin-left: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-size: $small;

        &:hover {
            background-color: rgb(43, 39, 39);
        }
    }

    p {
        font-size: $small;
        text-align: center;
    }
}




