//FONTS
$monserrat: 'Montserrat', sans-serif;

//FONT SIZES
$jumbo: 3.8rem;
$xlarge: 3rem;
$large: 2.5rem;
$medium: 1.8rem;
$small: 1.6rem;
$xsmall: 1.2rem;
$xxsmall: 1rem;

//COLORS
$primary: #fffb00;
$secondary: #001eff;
$black: #000;
$white: #fff;
$crimson: crimson;